.post {
  padding: 0.15rem 0 0.3rem;
  border-bottom: 1px solid #ddd;
}

.post .post-title{
  color: #393939
}

.post .post-title:hover{
  border-bottom: 2px solid #42b983;
}

.post .post-read-more {
  font-size: 0.15rem;
  color: #42b983;
  text-decoration: none;
}
