.post-content{
  font-size: 0.15rem;
}
.post-content h2, .post-content h3 {
  font-size: 0.22rem;
}
.post-content pre{
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-x: auto;
  background: #f8f8f8;
}

.post-content pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
  white-space: pre;
}

.post-content img{
  width: 100%;
}


.post-content h2:before, .post-content h3:before, .post-content h4:before, .post-content h5:before, .post-content h6:before {
    post-content: "#";
    color: #42b983;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 0.08rem;
    margin-left: -0.28rem;
}
